.data_delete{
    text-align: center;
    }
 .data_delete h2{
    font-size: 12pt;
 }   
 .data_delete span{
    font-weight: bold;
    color: #4f72d4; 
    font-size: 12pt;
 }
 .btn_cancel{
    text-decoration: none;
    width: 124px;
    background: #c33709;
    color: #fff;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15px;
 }
 .btn_ok{
    
    width: 124px;
    background: #47a24a;
    color: #fff;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15px;

 }